/* FOOTER */

footer {
    display:flex;
    align-items:center;
    justify-content: space-around;
    flex-flow: row wrap;
    background:rgba(0,0,0,0.95);;
    color:white;
    width: 100vw;
    height: 2.5rem; 
    position:fixed;
    bottom: 0;
}
.footer-link{
    color: darkslategray;
    
}

.footer-link:hover {
    cursor: pointer;
}

.footer-link>.active{
    color: white;
}
