/* FOOTER */

footer {
    display:flex;
    align-items:center;
    justify-content: space-around;
    flex-flow: row wrap;
    background:var(--four);
    color:var(--five);
    width: 100vw;
    height: 3.5rem; 
    position:fixed;
    bottom: 0;
    font-size: 1.8rem;
}



.footer-link{
    color: var(--one);
    
}

.footer-link:hover {
    cursor: pointer;
    transform: rotate(10deg);
    transition: all .5s ease;
}

.footer-link>.active{
    color: var(--five);
}
