/* FOOTER */

footer {
    display:flex;
    align-items:center;
    justify-content: space-around;
    flex-flow: row wrap;
    background:var(--four);
    color:var(--five);
    width: 100vw;
    height: 2.5rem; 
    position:fixed;
    bottom: 0;
}
.footer-link{
    color: var(--one);
    
}

.footer-link:hover {
    cursor: pointer;
}

.footer-link>.active{
    color: var(--five);
}
