
/* NEW PAGE */

.container .form {
    background: var(--one);
    margin: 1rem 0;
    display: flex;
    flex-flow: column wrap;
    width: 80vw;
    height: auto;
    padding: .5rem;
    border-radius: 1rem;
    border: inset var(--two) 2px;
    position:relative;
}


.form--flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding:0 .5rem;
    
}
.form>p{
    font-size:3rem;
    position: absolute;
    top: -1rem;
    right: 1rem;
}

.form label{
    font-weight: 600;
    margin-left: .5rem;
    color:var(--two);
}

.form>textarea {
    width: 100%;
    height: 10vh;
    background:var(--two);
    border-radius: 5px;
    padding: .5rem;
    color:var(--four);
}

.form:hover > p {
    transform: rotate(-20deg);
    
}

.submit {
    background: var(--one);
    padding: 1rem;
    border-radius: 1rem;
    color:white;
    font-size: 1rem;
}

.submit:hover {
    cursor: pointer;
    color: var(--one);
    background: var(--five);
    border-color: var(--one);
}

.color{
    width: 3.5rem;
    height:3.5rem;
    background: repeating-radial-gradient(yellow,
     rgb(252, 125, 28));
    border-radius: 50%;
    border:2px solid rgb(255, 119, 0);
    text-align:center;
}