
/* HEADER */
header{
    background-color: var(--four);
    color: var(--five);
    padding: 1rem 0 0 0;
    margin: 0 auto;
    position:fixed;
    top:0;
    width: 100vw;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position:relative;
}

@media(max-width: 500px) {
    header{
        font-size: .7rem; 
        padding:1.5rem .5rem;
        margin-bottom: -4rem;;
    } 
}

header>div {
    border-left: var(--three) dotted 5px;
    border-right: var(--three) dotted 5px;
    padding: 0 .5rem;
}

.loader{
     position: absolute;
      top: 3rem;
      left: auto;
      z-index:10;
      border:none;
  }

.subheader {
    display:flex;
    justify-content: space-between;
}
