
/* HEADER */
header{
    background-color: var(--four);
    color: var(--five);
    padding: 1rem 0 0 0;
    margin: 0 auto;
    position:fixed;
    top:0;
    width: 100vw;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

@media(max-width: 500px) {
    header{
        font-size: .7rem; 
        padding: .5rem;
    } 
}

header>div {
    border-left: var(--three) dotted 5px;
    border-right: var(--three) dotted 5px;
    padding: 0 .5rem;
}