/* HOME  */
.question {
  background: var(--one);
  margin: 1rem 0;
  display: flex;
  flex-flow: column wrap;
  width: 300px;

  align-items: center;
  padding: 0.5rem;
  text-align: center;
  border-radius: 1rem;
  border: inset var(--two) 2px;
  position: relative;
}

@media (min-width: 500px) {
  .question {
    width: 500px;
  }
}

.question > p {
  padding: 1rem;
  color: lightgrey;
}

.question > i {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1rem;
  right: 1rem;
  border: solid var(--five) 2px;
  background: radial-gradient(var(--five), var(--one) 70%);
  border-radius: 50%;
  padding: 0.3rem;
  width: 2.5rem;
  height: 2.5rem;
}
.question > i:hover {
  transform: scale(2);
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  background: radial-gradient(var(--five), var(--one));
}

details {
  background: var(--two);
  border: var(--four) solid 1px;
  padding: 0.3rem;
  margin: 0.5rem;
  border-radius: 5px;
  position: relative;
}

details:hover {
  cursor: pointer;
  color: var(--four);
}
.superhero {
  display: none;
  color: blue;
  font-size: 3rem;
}
.superhero:hover {
  color: green;
}
details:hover + span {
  display: block;
  position: absolute;
  top: -1rem;
  left: 1rem;
}

details > p {
  padding: 0.5rem;
}

.tag-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.tag {
  min-width: 3rem;
  margin: 0 1rem;
}
.tag-container > h5 {
  align-self: flex-start;
}
