

/* HOME  */
.question {
    background: var(--one);
    margin: 1rem 0;
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    
    align-items: center;
    padding: .5rem;
    text-align: center;
    border-radius: 1rem;
    border: inset var(--two) 2px;    
}

 @media(min-width: 500px){
    .question {
        width: 500px;
    }
} 

.question>p {
    padding:1rem;
    color: lightgrey;
}

.question>i {
    align-self: flex-end;
}

details {
    background: var(--two);
    border: var(--four) solid 1px;
    padding: .3rem;
    margin: .5rem;
    border-radius: 5px;
    
}

details>summary {
    cursor: pointer;
    color: var(--four);
}

details>p {
    padding: .5rem;
}

.tag-container {
    display:flex;
    justify-content: center;
    flex-flow: row wrap;

}
.tag{
    min-width: 3rem;
    margin: 0 1rem;
}
.tag-container>h5{
    align-self: flex-start;
}